.outBar{
    width: 20%; 
    height: 100vh;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    background-color: #e9eef6;
}

.inBar{
    width: 90%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.menuBar{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    background-color: #e9eef6;
}

.menu{
    height: 13%;
    border-radius: 50px;
    margin-bottom: 3px;
    border: none;
    background-color: #d6e3f8;
    color: #1f1f1f;
    font-size: 1rem;
    letter-spacing: 1px;
}
.menu:hover{
    background-color: #a8c6f7;
    
}

.menu.active {
  background-color: #a8c6f7;  /* Green background for selected button */
  color: black; 
  font-weight: 600;              /* White text for selected button */
}


.logoDiv{

    width: 40%;
    height: 100%;
    border: 1px solid black;
}

